@model Blog

@{
    ViewData["Title"] = "جزییات بلاگ";
    Layout = "_MainLayout";
}


@section Head
{
    <!-- Sweet Alert css -->
    <link href="/Admin/plugins/bootstrap-sweetalert/sweet-alert.css" rel="stylesheet" type="text/css" />
    <script src="/Admin/plugins/bootstrap-sweetalert/sweet-alert.min.js"></script>
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card-box task-detail">
                <div class="dropdown pull-right">
                    <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                        <i class="zmdi zmdi-more-vert"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a asp-area="Admin" asp-controller="Blog" asp-action="EditBlog" asp-route-id="@Model.Id">
                                ویرایش
                            </a>
                        </li>
                        <li>
                            <a id="delete-button">
                                حذف
                            </a>
                        </li>
                    </ul>
                    <script>
                        $('#delete-button').click(function () {
                            swal({
                                    title: "مطمئنی ؟؟",
                                    text: "",
                                    type: "error",
                                    showCancelButton: true,
                                    confirmButtonClass: 'btn-danger waves-effect waves-light',
                                    confirmButtonText: 'بله!',
                                    closeOnConfirm: false
                                },
                                function(isConfirm) {
                                    if (isConfirm) {
                                        $.ajax({
                                            url: "/Admin/Blog/DeleteBlog/",
                                            type: "POST",
                                            data: {
                                                id : @Model.Id
                                            },
                                            dataType: "html",
                                            success: function() {
                                                swal({
                                                    title: "بلاگ حذف شد!",
                                                    text: "در حال انتقال به صفحه مدیریت بلاگ ها...",
                                                    timer: 3000,
                                                    showConfirmButton: false
                                                });
                                                window.location.href =
                                                    '@Url.Action("Index", "Blog", new {area = "Admin"})';
                                            },
                                            statusCode: {
                                                404: function () {
                                                    swal({
                                                            title: "دسترسی غیر مجاز!",
                                                            text: "لطفا از دستکاری داده های ارسالی اجتناب کنید!",
                                                            type: "error",
                                                            showCancelButton: false,
                                                            confirmButtonClass: 'btn-danger waves-effect waves-light',
                                                            confirmButtonText: 'باشه ببخشید!',
                                                            closeOnConfirm: true
                                                        }
                                                    );
                                                },
                                                402: function () {
                                                    swal({
                                                            title: "خطا!",
                                                            text: "عکس خبر پاک نشد!",
                                                            type: "error",
                                                            showCancelButton: false,
                                                            confirmButtonClass: 'btn-danger waves-effect waves-light',
                                                            confirmButtonText: 'باشه!',
                                                            closeOnConfirm: true
                                                        }
                                                    );
                                                }
                                            }
                                        });
                                    }
                                });
                        });
                    </script>
                </div>
                <div class="media m-b-20">
                    <div class="media-left">
                        <a href="#"> <img class="media-object img-circle" alt="64x64" src="/images/profile.jpg" style="width: 48px; height: 48px;"> </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading m-b-0">@Model.Author</h4>
                        <span class="label label-info">مدیر سایت شخصی</span>
                    </div>
                </div>
                <h3 class="font-600 m-b-20">@Model.Title</h3>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <img src="/images/blog/@Model.ImageUrl"
                             class="img-thumbnail" alt="profile-image">
                    </div>
                </div>
                <br />

                <p class="text-dark">
                    @Html.Raw(Model.Description)
                </p>

                <ul class="list-inline task-dates m-b-0 m-t-20">
                    <li>
                        <h5 class="font-600 m-b-5">تعداد بازدید ها</h5>

                        <p> @Model.ViewCount </p>
                    </li>

                    <li>
                        <h5 class="font-600 m-b-5">تاریخ انتشار بلاگ</h5>
                        <p> @Model.DateTime.ToPersianDateString() </p>
                    </li>
                </ul>
                <div class="clearfix"></div>
                <div class="row">
                    <ul class="list-inline task-dates m-b-0 m-t-20">
                        <li>
                            <h5 class="font-600 m-b-5">دسته بندی</h5>
                            <p> @Model.Category.Name </p>
                        </li>

                        <li>
                            <div class="keywords" style="margin: 0 !important; ">
                                <h5 class="font-600 m-b-5">برچسب ها</h5>
                                <p>
                                    @foreach (var tag in Model.Tags.Split(','))
                                    {
                                        <a asp-area="Admin" asp-controller="Blog" asp-action="Index" asp-route-searchString="@tag"> @tag </a>

                                    }
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>


            </div>
        </div>
    </div>
</div>
