@model PaginatedList<Blog>
@{
    ViewData["Title"] = "مدیریت بلاگ ها";
    Layout = "_MainLayout";
    var i = 0;
}

@section Search {
    <li class="hidden-xs">
        <form role="search" class="app-search" method="get">
            <input type="text" placeholder="جستجوی بلاگ..." class="form-control" name="searchString" value="@ViewBag.CurrentFilter">
            <button type="submit" style="background-color: Transparent; background-repeat: no-repeat; border: none; cursor: pointer; overflow: hidden; outline: none;">
                
            </button>
        </form>
    </li>
}

@section Head
{
    <!-- Sweet Alert css -->
    <link href="/Admin/plugins/bootstrap-sweetalert/sweet-alert.css" rel="stylesheet" type="text/css" />
    <script src="/Admin/plugins/bootstrap-sweetalert/sweet-alert.min.js"></script>
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            @if (!Model.Any())
            {
                <div class="text-center" style="margin-top: 200px;">
                    هیچ نوشته ای موجود نیست
                </div>
            }
            else
            {
                foreach (var item in Model)
                {
                    var deleteBtnId = "danger-alert" + i;
                    var boxId = "box-" + i;
                    i++;

                    <div class="bg-picture card-box" id="@boxId">

                        <div class="dropdown pull-right">
                            <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                                <i class="zmdi zmdi-more-vert"></i>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a asp-controller="Blog" asp-action="EditBlog" asp-route-id="@item.Id">
                                        ویرایش
                                    </a>
                                </li>
                                <li>
                                    <a id="@deleteBtnId">
                                        حذف
                                    </a>
                                </li>
                            </ul>

                            <script>
                                $('#@deleteBtnId').click(function() {
                                    swal({
                                            title: "مطمئنی ؟؟",
                                            text: "",
                                            type: "error",
                                            showCancelButton: true,
                                            confirmButtonClass: 'btn-danger waves-effect waves-light',
                                            confirmButtonText: 'بله!',
                                            closeOnConfirm: false
                                        },
                                        function(isConfirm) {
                                            if (isConfirm) {
                                                $.ajax({
                                                    url: "/Admin/Blog/DeleteBlog/",
                                                    type: "POST",
                                                    data: {
                                                        id: @item.Id
                                                    },
                                                    dataType: "html",
                                                    success: function() {
                                                        swal("انجام شد!",
                                                            "بلاگ مورد نظر با موفقت حذف شد!",
                                                            "success");
                                                        $("#@boxId").hide("slow",
                                                            function() {
                                                                $("#@boxId").remove();
                                                            });
                                                    },
                                                    statusCode: {
                                                        404: function () {
                                                            swal({
                                                                    title: "دسترسی غیر مجاز!",
                                                                    text: "لطفا از دستکاری داده های ارسالی اجتناب کنید!",
                                                                    type: "error",
                                                                    showCancelButton: false,
                                                                    confirmButtonClass: 'btn-danger waves-effect waves-light',
                                                                    confirmButtonText: 'باشه ببخشید!',
                                                                    closeOnConfirm: true
                                                                }
                                                            );
                                                        },
                                                        402: function () {
                                                            swal({
                                                                    title: "خطا!",
                                                                    text: "عکس بلاگ مورد نظر پاک نشد!",
                                                                    type: "error",
                                                                    showCancelButton: false,
                                                                    confirmButtonClass: 'btn-danger waves-effect waves-light',
                                                                    confirmButtonText: 'باشه!',
                                                                    closeOnConfirm: true
                                                                }
                                                            );
                                                        }
                                                    }
                                                });
                                            }
                                        });
                                });
                            </script>
                        </div>

                        <div class="profile-info-name">
                            <h4 class="header-title m-t-0 m-b-30">@item.DateTime.ToPersianDateString()</h4>

                            <div class="profile-info-name">
                                <img src="/images/blog/@item.ImageUrl"
                                     class="img-thumbnail" alt="profile-image">

                                <div class="profile-info-detail">
                                    <h3 class="m-t-0 m-b-0">@item.Title</h3>
                                    <p class="text-muted m-b-20"><i>نویسنده : @item.Author</i></p>
                                    <p>@item.ShortDescription</p>


                                    <div class="keywords">
                                        @foreach (var tag in item.Tags.Split(','))
                                        {
                                            <a asp-area="Admin" asp-controller="Blog" asp-action="Index" asp-route-searchString="@tag"> @tag </a>
                                        }
                                    </div>

                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <br />
                            <div class="row">
                                <a asp-action="GetBlog" asp-route-id="@item.Id"
                                   class="pull-right btn btn-success btn-rounded waves-effect waves-light">ادامه مطلب</a>
                            </div>
                        </div>
                    </div>
                }

                var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.HasNextPage ? "disabled" : "";


                <div class="text-center">
                    <a asp-area="Admin"
                       asp-controller="Blog"
                       asp-action="Index"
                       asp-route-page="@(Model.PageIndex - 1)"
                       asp-route-currentFilter="@ViewBag.CurrentFilter"
                       class="btn btn-default @prevDisabled">
                        قبلی
                    </a>
                    <a asp-area="Admin"
                       asp-controller="Blog"
                       asp-action="Index"
                       asp-route-page="@(Model.PageIndex + 1)"
                       asp-route-currentFilter="@ViewBag.CurrentFilter"
                       class="btn btn-default @nextDisabled">
                        بعدی
                    </a>
                </div>

            }

        </div>
    </div>
</div>
