@using Microsoft.EntityFrameworkCore
@model Blog
@inject AppDbContext Db
@{
    ViewData["Title"] = Model.Title;
    ViewBag.Description = $"وبلاگ شخصی مسعود خدادادی - {Model.ShortDescription}";
    ViewBag.OgImageUrl = $"images/blog/{Model.ImageUrl}";
}

<section class="mh-home image-bg home-2-img">
    <div class="img-foverlay img-color-overlay">
        <div class="container">
            <div class="row section-separator">
                <div class="mh-page-title text-center col-sm-12">
                    <h2>وبلاگ شخصی مسعود خدادادی</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mh-blog">
    <div class="container">
        <div class="row section-separator">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="mh-blog-item dark-bg blog-single">
                            <img src="/images/blog/@Model.ImageUrl" alt="" class="blog-image">
                            <div class="blog-inner">
                                <h2><a href="#">@Model.Title</a></h2>
                                <div class="mh-blog-post-info">
                                    <ul>
                                        <li><strong>نویسنده :</strong><a href="#">@Model.Author</a></li>
                                        <li><strong>در تاریخ:</strong><a href="#">@Model.DateTime.ToPersianDateString()</a></li>
                                    </ul>
                                </div>
                                <div style="line-height: 1.6; text-align: justify">
                                    @Html.Raw(Model.Description)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <!--Tags-->
                        <h3>برچسب ها</h3>
                        <div class="mh-blog-item dark-bg blog-single">
                            <div class="mh-about-inner">
                                <div class="mh-about-tag wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s" style="padding: 10px !important;">
                                    <ul>
                                        @foreach (var tag in Model.Tags.Split(","))
                                        {
                                            <li><span><a asp-controller="Blog" asp-action="Index" asp-route-searchString="@tag.FixUrl()">@tag</a></span></li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>

            <!-- SIDEBAR -->
            <div class="col-md-4">
                <div class="mh-blog-sidebar">
                    <div class="sidebar-item mh-author-info">
                        <div class="mh-author-img">
                            <div class="img-border">
                                <img src="/images/profile.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
                        <h2>مسعود خدادادی</h2>
                        <h4>مهندس کامپیوتر</h4>
                        <p>
                            دارای مدرک کارشناسی مهندسی کامپیوتر و علاقمند به برنامه نویسی تحت دات نت
                        </p>
                        <ul class="social-icon">
                            <li><a href="https://t.me/urmiaking"><i class="fa fa-telegram"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/masoud-khodadadi-43baa079/"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="https://github.com/urmiaking"><i class="fa fa-github"></i></a></li>
                            <li><a href="https://instagram.com/masoudkhodadadi.ir"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                    <div class="sidebar-item mh-blog-category">
                        <h3>دسته بندی ها</h3>
                        <ul>
                            @foreach (var category in Db.BlogCategories.Include(a => a.Blogs))
                            {
                                <li><a asp-controller="Blog" asp-action="Index" asp-route-searchString="@category.Name.FixUrl()">@category.Name (@category.Blogs.Count)</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>