@model IEnumerable<ContactForm>
@{
    ViewData["Title"] = "بازخورد های وبسایت";
    Layout = "_MainLayout";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card-box">
                <h4 class="header-title m-t-0 m-b-30">پیغام های من</h4>
                <div class="table-responsive">
                    @if (Model.Any())
                    {
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.FirstName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.LastName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.DateTime)
                                    </th>
                                    <th>عملیات</th>
                                </tr>
                            </thead>
                            @foreach (var item in Model)
                            {
                                var modalId = "edit-modal" + item.Id;
                                var dataTarget = "#" + modalId;

                                <!--Begin Modal-->
                                <div id=@modalId class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                <h4 class="modal-title">مشاهده پیام</h4>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label for="msgTitle" class="control-label">نام</label>
                                                            <input type="text" readonly="" class="form-control" id="msgTitle" value="@item.FirstName">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label for="msgTitle" class="control-label">نام خانوادگی</label>
                                                            <input type="text" readonly="" class="form-control" id="msgTitle" value="@item.LastName">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label for="msgDesc" class="control-label">شرح پیام</label>
                                                            <textarea disabled="" rows="3" id="msgDesc" class="form-control">@item.Message</textarea>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">تاریخ ارسال پیام</label>
                                                            <h5>@item.DateTime.ToPersianDateString()</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <span>
                                                    <form asp-action="Delete" method="post">
                                                        <input type="hidden" name="id" value="@item.Id"/>
                                                        <button type="submit" class="btn btn-danger waves-effect waves-light">حذف پیام</button>
                                                    </form>
                                                </span>

                                            </div>
                                        </div>


                                    </div>
                                </div>
                                <!--End Modal-->

                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FirstName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LastName)
                                    </td>
                                    <td>
                                        @item.DateTime.ToPersianDateTime()
                                    </td>
                                    <td>
                                        <a href="#" data-toggle="modal" data-target=@dataTarget class="btn btn-success label label-success">
                                            <i class="fa fa-pencil">&nbsp;</i>
                                            مشاهده
                                        </a>
                                    </td>
                                </tr>
                            }

                        </table>
                    }
                    else
                    {
                        <div class="text-center">پیغامی برای نمایش وجود ندارد.</div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>