@model DashboardViewModel
@{
    Layout = "_MainLayout";
    ViewData["Title"] = "صفحه اصلی";
}

<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>
                        @ViewBag.TodayVisits
                    </h3>
                    <p>بازدیدهای امروز</p>
                </div>
                <div class="icon">
                    <i class="zmdi zmdi-account"></i>
                </div>
                <br />
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-4 col-md-4 col-sm-4">
            <!-- small box -->
            <div class="small-box bg-blue">
                <div class="inner">
                    <h3>
                        @ViewBag.LastMonthVisitCount
                    </h3>
                    <p>بازدیدهای این ماه</p>
                </div>
                <div class="icon">
                    <i class="fa fa-calendar"></i>
                </div>
                <br />
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-4 col-md-4 col-sm-4">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>
                        @ViewBag.TotalVisits
                    </h3>
                    <p>کل بازدیدها</p>
                </div>
                <div class="icon">
                    <i class="fa fa-users"></i>
                </div>
                <br />
            </div>
        </div>
    </div>
    <div class="row text-center m-t-20 m-b-20 m-r-10 m-l-10">
        <div col-md-12>
            <a asp-controller="Blog" asp-action="AddBlog" style="margin-bottom: 10px;"
               class="btn btn-block btn-primary btn-rounded waves-effect waves-light">
                <i class="fa fa-pencil m-l-5"></i>
                <span style="margin-right: 5px;">نوشته جدیدی بنویسید</span>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            @foreach (var blog in Model.Blogs)
            {
                <div class="bg-picture card-box">
                    <div class="profile-info-name">
                        <div class="dropdown pull-right">
                            <i class="zmdi zmdi-eye"></i> @blog.ViewCount
                        </div>
                        <h4 class="header-title m-t-0 m-b-30">@blog.DateTime.ToPersianDateString()</h4>

                        <div class="profile-info-name">
                            <img src="/images/blog/@blog.ImageUrl"
                                 class="img-thumbnail" alt="blog-image">
                            <div class="profile-info-detail">
                                <h3 class="m-t-0 m-b-0">@blog.Title</h3>
                                <p class="text-muted m-b-20"><i>نویسنده : @blog.Author</i></p>
                                <p>@blog.ShortDescription</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <br />
                        <div class="row">
                            <a asp-area="Admin" asp-controller="Blog" asp-action="GetBlog" asp-route-id="@blog.Id"
                               class="pull-right btn btn-success btn-rounded waves-effect waves-light">ادامه مطلب</a>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
    @{
        if (Model.Blogs.Count == 6)
        {
            <div class="text-center" style="margin-bottom: 20px">
                <a asp-area="Admin" asp-controller="Blog" asp-action="Index" class="btn btn-primary btn-rounded w-md waves-effect waves-light m-b-5">نمایش نوشته های بیشتر</a>
            </div>
        }
    }
</div>